/* ======================== For mobile and pad ========================= */
@media screen and (max-width: 1000px) and (orientation:portrait)  {	
	#nav-bar, 
	#skill-icons{
		display: none;
	}
	/* Override mobile nav bar */
	#mb-nav-bar {
		height: 6vh;
		width: 100%;
		position:fixed;
		z-index: 999;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color:#222222;
	}
	#mb-nav-logo {
		font-size: 3.5vh;	
		font-style: italic;
		color: #c2c2c2;
	}
	.mb-nav-btn {
		font-size: 3vh;
		color: #c2c2c2;
	}

	/* Override mobile headline section */
	#mobile-mainpic {
		display: block;
		height: auto;
		width: 100vw;
		max-width: 100%;
		margin: 6vh 0 -2vh;
	}
	#headline-container {
		height: auto;
		max-height: none;
		background-image: none;
		align-items: center;
		padding-left: 0;
	}

	#slogan {
		font-size: 5vh;
	}
	#spotify {
		margin-top: 5vh;
		width: 90vw;
		height: 50vh;
	}
	#social-media-title {
		display: block;
		margin-top: 5vh;
	}
	.app-icon {
		font-size: 3.5vw;
		margin: 2vh 4vw;
	}
	#gallery-link {
		display: block;
		margin: 1vh 0 5vh;
		font-size: 3vh;
	}

	.carousel-item {
		padding: 4rem 2rem;
	}
	.slide-title{
		font-size: 2rem;
		font-weight: 100;
	}
	.slide-intro {
		text-align: center;
		font-family:"Montserrat", sans-serif;	
		font-size: 1.4rem;
		line-height: 2rem;
		font-weight: 30;
	}

	#mb-skill-icons {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	#skill-slogan {
		font-size: 3vh;
	}

	#penn-img {
		margin-top: 4rem;
	}

	.gallery-row {
		flex-wrap: wrap;
		margin: 0;
	}
	.photo-item {
		margin: 0.5vh 0;
		width: 92vw;
		height: 69vw;
	}

	.footer-txt {
		font-size: 0.75rem;
		line-height: 1.5rem;
	}
} 
