
/* =================== General styles ================== */

body {
	color:#222222;
	font-family:'Russo One', sans-serif;
}

p {
	font-weight:light;
	color:#A2A2A2;
}

img {
	max-width: 90vw;
}

a:hover {
	text-decoration: none;
}

.container-fluid {
	padding: 2rem 3rem 3rem;
}

.section-container {
	padding: 2rem 3rem 3rem;
}

.for-mobile {
	display: none;
}

/* =========================== Nav Bar ===================== */

#nav-bar {
	position:fixed;
	width: 100%;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color:#222222;
	padding-left: 5rem;
	height: 4rem;
}
#nav-logo {
	font-size: 2rem;
	font-style: italic;
	color: #e9e9e9;	
}
#nav-menu {
	margin-right: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
.nav-btn {
	color: #A2A2A2;
	font-size: 1.5rem;
	padding-right: 1em;
}

/* ============================= Cover ====================== */

#title {
	background-color:#313131;
	color:#FFFFFF;	
	padding-top: 5rem;
}

.headline-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

#slogan-container {
	margin-left: 2rem;
	margin-bottom: 1rem;
}

#slogan {
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.5;
}
#sub-slogan {
	font-weight:light;

}
#slogan-intro {
	color:#AFAFAF;
	font-size:1.5rem;
	font-weight:light;
	line-height:1.5;
	padding:3rem 0 1rem;
}

#mainpic {
	height: 100%;
	width: 100%;
	max-width: 780px !important;
	max-height: 480px;
	margin-bottom: 1rem;
}

#spotify {
	width: 30%;
	height: 480px;
	margin-bottom: 1rem;
} 

.btn-bar {
	margin-top: 2rem;
	display: flex;
	justify-content: space-around;
}
.btn-lg {
	margin: 5px 5px 5px 0;
}

/* ========================== Slide Highlights ========================== */

#slides {
	background-color:#7D7D7D;
	text-align:center;
	line-height:1.5rem;
}
.carousel-item {
	padding: 7rem 5rem;
}

.slide-title {
	font-weight:bold; 
	margin-bottom:15px; 
	color:#EDEDED;
	transition: all .5s ease-in-out;
}
.slide-title:hover {
	transform:scale(1.2);
}
.slide-intro {
	color:#F2F2F2; 
	padding: 25px 0 25px;
	line-height: 3rem;
}
.slide-img {
	width:250px;
	height:250px;
	border-radius:100%;
	margin:2% 0% 4% 0%;
	transition: all .5s ease-in-out;
}
.slide-img:hover {
	transform:scale(1.25)
}
.slide-footnote {
	color:#F2F2F2; 
	font-size:1.25rem;
}


/* ================================ Education ========================*/

.section-icon {
	padding-bottom:20px;
}

#edu {
	background-color:#F2F2F2;
	text-align:center;
	padding:2rem 0 0.5rem;
}
#edu-slogan {
	padding: 2rem 0 2rem;
	color: #888888;
}
.edu-intro {
	padding-top: 1.5rem;
	color: #888888;
}
.edu-img {
	margin:50px 30px 40px;	
}
.edu-img:hover {
	transform: scale(1.2);
}
.edu-intro {
	margin-top:5px; 
	color:#888888; 
	font-weight:light; 
	font-size:120%;
}

/* =========================== Company ============================== */

#org {
	background-color:#DADADA;
	text-align:center;
	padding:2rem 0 1rem;
}
#org-slogan {
	padding: 2rem 0 2rem;
	color: #686868;
	line-height: 3rem;
}
.company-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.org-img {
	margin:50px 20px 20px;	
	height:150px; 
	width:150px;
}
.org-img:hover {
	transform: scale(1.2);
}

/* ======================== Skillset ========================= */

#skillset {
	text-align:center;
	padding: 5rem 2rem 2rem;
	background-color:#326b8b;
}
.skill-text {
	color:#EAEAEA;
}
#skill-heading {
	line-height:1.5rem;
	padding-bottom:1.5rem;	
}
#skill-intro {
	padding-bottom:2rem;
	color:#e9e9e9;
}
.skill-icons-row {
	margin-top: 1.5rem;
}
#skill-footer {
	padding:3em 0 2em;
	color:#e9e9e9;
}

/* ======================== Social media ======================= */

#social-media {
	color:#222222;
	background-color:#EFEFEF;
	padding-top:1rem;
}
#follow-slogan {
	text-align: center;
	color:#454545;
	margin: 2rem;
	line-height: 3rem;
}

.media-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.social-app {
	text-align:center;
	padding: 1.5rem;
}
.social-app:hover {
	transform: scale(1.25);
}

.fb {
	color:#4867AA;
}
.ins {
	color:#F07156;
}
.linkedin {
	color:#006097;
}
.github {
	color:#420a7b;
}
.wechat {
	color:#07C563;
}

.app-name {
	padding-top:7px;
	color:#222222;
}

#fb-txt:hover {
	color:#4867AA;
}
#ins-txt:hover {
	color:#F07156;
}
#linkedin-txt:hover {
	color: #006097;
}
#github-txt:hover {
	color:#420a7b;
}
#wechat-txt:hover {
	color:#07C563;
}


/* ============================ Footer ========================== */

.footer {
	background-color:#283E4A;
	color:#AFAFAF;
	text-align:center; 
	padding: 20px 0 20px
}
.footer-txt {
	font-family:"Montserrat", sans-serif;
	line-height: 2rem;
}



/* ========================= For mobile/tablet =================== */
@media screen and (max-width: 1000px) {
	#spotify {
		margin:auto;
		width: 90vw;
	} 
}

@media screen and (max-width: 800px) {

	#nav-bar,
	#slogan, #sub-slogan, 
	#mainpic,
	#skill-icons{
		display: none;
	}

	#mb-nav-bar {
		height: 2.5rem;
		width: 100vw;
		position:fixed;
		z-index: 999;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color:#222222;
	}
	#mb-nav-logo {
		font-size: 1.25rem;	
		font-style: italic;
		color: #e9e9e9;
		padding-left: 1rem;
	}
	#mb-nav-btn {
		font-size: 1rem;
		color: #A2A2A2;
		padding-right: 1rem;
	}	

	#mobile-mainpic {
		margin: -2rem auto -0.5rem;
		display: block;
		max-width: 95vw;
		height: auto;
	}

	#slogan-intro {
		padding-top: 1rem;
	}

	#spotify {
		margin-top: 1rem;
	}

	.btn-bar {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	#mb-skill-icons {
		display: block;
	}
	#skill-footer {
		font-weight: 100;
		font-size: 1rem;
		line-height: 1.5rem;
	}
  }