#title{
	background-color:#313131;
	color:#FFFFFF;	
}

body{
	color:#222222;
	font-family:'Russo One', sans-serif;
}

.container-fluid{
	padding: 2% 3% 4%;
}

.navbar{
	font-size:1.5rem;
	background-color:#222222;
	padding:0.75rem 0 1.25rem 2.5rem;
}

.navbar-brand{
	font-size:2rem;
}

.nav-item{
	padding: 0 20px 0 0;
}

.nav-link{
	font-size: 90%;
	margin-right: 10px;
}

#slogan{
	font-size: 3.3rem;
	line-height: 1.5;
	padding: 10rem 0 1rem;
	margin-left: 30px;
}

#sub-slogan{
	font-weight:light;
	margin-left: 30px;
}

#slogan-intro{
	color:#AFAFAF;
	font-size:1.5rem;
	font-weight:light;
	line-height:1.5;
	padding:3rem 0 1rem;
	margin-left: 30px;
}

#mainpic{
	margin-top: 9rem;
	width: 780px;
	height: 480px;
	max-width: 100%;
	max-height: 100%;
}

#spotify{
	margin-top: 9rem;
	width: 100%;
	height: 480px;
}

.btn-bar{
	margin-top: 35px;
	margin-left: 30px;
}

.btn-lg{
	margin: 5px 5px 5px 0;
}

p{
	font-weight:light;
	color:#A2A2A2;
}

#testimonials{
	background-color:#7D7D7D;
	text-align:center;
	line-height:1.5rem;
}

.carousel-item{
	padding:4rem 5rem 5rem;
}

.slide-title{
	font-weight:bold; 
	margin-bottom:15px; 
	color:#EDEDED;
	transition: all .5s ease-in-out;
}

.slide-title:hover{
	transform:scale(1.2);
}

.desc{
	color:#F2F2F2; 
	padding: 25px 0 25px;
	line-height: 3rem;
}

.city-img{
	width:450px;
	height:300px;
	border-radius:100%;
	margin:2% 0% 4% 0%;
	transition: all .5s ease-in-out;
}

.city-img:hover{
	transform:scale(1.05)
}

.company-note{
	color:#F2F2F2; 
	font-size:1.25rem;
}

#edu{
	background-color:#F2F2F2;
	text-align:center;
	padding:4% 0% 2%;
}

#edu-slogan{
	padding: 2rem 0 2rem;
	color: #888888;
}

.edu-intro{
	padding-top: 1.5rem;
	color: #888888;
}

.section-icon{
	padding-bottom:20px;
}

.edu-img{
	margin:50px 30px 40px;	
}

.edu-img:hover{
	transform: scale(1.2);
}

.edu-intro{
	margin-top:5px; 
	color:#888888; 
	font-weight:light; 
	font-size:120%;
}

#org{
	background-color:#DADADA;
	text-align:center;
	padding:4% 0% 2%;
}
#org-slogan{
	padding: 2rem 0 2rem;
	color: #686868;
	line-height: 3rem;
}
.org-img{
	margin:50px 20px 40px;	
	height:150px; 
	width:150px;
}
.org-img:hover{
	transform: scale(1.2);
}


#skill-section{
	text-align:center;
	line-height:1.25rem;
	padding:6rem 2rem 4rem;
	background-color:#364e68;
}

#skill-heading{
	padding-bottom:2rem;
	color:#EAEAEA;
}

#skill-intro{
	padding-bottom:3rem;
	color:#EAEAEA;
}

.skill-name{
	background-color:#98ccd3;
	color:#FDFDFD;
}

.skill-para{
	background-color:#132238;
	font-size: 1.5rem;
}

.skillset{
	margin: 25px 0 25px 0;
}

.skill-icon{
	color:#98ccd3;
	padding: 1.5rem 0 1.5rem;
}

#features{
	color:#222222;
	background-color:#EFEFEF;
	padding-top:1%;
}

#follow-slogan{
	text-align:center;
	margin:3% 0 3%;
	line-height:1.25rem;
}

.fea{
	text-align:center;
	padding:3%;
}

.fb{
	color:#4867AA;
}

.ins{
	color:#F07156;
}

.linkedin{
	color:#006097;
}

.wechat{
	color:#07C563;
}

.social{
	padding-top:7px;
	color:#222222;
}

#fb-txt:hover{
	color:#4867AA;
}

#ins-txt:hover{
	color:#F07156;
}

#linkedin-txt:hover{
	color: #006097;
}

#wechat-txt:hover{
	color:#07C563;
}

a:hover{
	text-decoration: none;
}

.footer{
	background-color:#283E4A;
	color:#AFAFAF;
	text-align:center; 
	padding: 20px 0 20px
}

.footer-txt{
	font-family:"Montserrat", sans-serif;
	line-height: 2rem;
	font-size: 1.1rem;
}

