/* General styles */
html,body
{
    overflow-x: hidden; 
	font-family:'Russo One', sans-serif;
}
a, a:hover {
	text-decoration: none;
}

 /* Complex styling not covered by Tailwind */
.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
}

/* Headline Styles*/
#headline {
	font-family: 'Londrina Solid', cursive;
}
#headline-container {
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('./images/Cobain.gif');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
#slogan-intro {
	font-family: 'Permanent Marker', cursive;
}

/* Gallery */
.photo-container {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
